<!-- Componente de notificaciones -->
<app-notification
  [notification]="notification()"
  (dismissed)="onNotificationDismissed()">
</app-notification>

<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="card p-4 shadow-sm" style="max-width: 30rem; min-width: 25rem;">

    <div class="text-center mb-4">
      <img class="mb-3" src="favicon.ico" alt="" width="72" height="57">
      <h1 class="h3 fw-normal">Iniciar sesión</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
      <!-- Campo de cédula -->
      <div class="input-group mb-3">
        <!-- Tipo de cedula -->
        <select class="form-select" style="max-width: 80px;" id="tipoCedula" name="tipoCedula" placeholder="Tipo"
          ngModel required>
          <option value="V">V</option>
          <option value="E">E</option>
        </select>
        <!-- Numero de cedula -->
        <div class="form-floating flex-grow-1">
          <input type="number" class="form-control" id="numeroCedula" name="numeroCedula" placeholder="Número de cédula"
            ngModel required />
          <label for="numeroCedula">Número de cédula</label>
        </div>
      </div>
      <!-- Campo de contraseña -->
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="clave" name="clave" placeholder="Contraseña" ngModel required />
        <label for="clave">Contraseña</label>
      </div>
      <!-- Enlace ¿Olvidaste tu contraseña? -->
      <div class="text-end mb-3">
        <a href="#" class="text-decoration-none text-primary">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
      <!-- Botón de envío -->
      <button class="btn btn-primary w-100" type="submit">Iniciar sesión</button>
    </form>

  </div>
</div>
