/* Contenedor de notificación */
.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1060; /* Mayor que el z-index de los modales de Bootstrap (1055) */
  width: 90%;
  max-width: 400px;
}

.notification-container.notification-bottom {
  top: auto;
  bottom: 20px;
  right: 20px;
}

/* Responsive */
@media (max-width: 576px) {
  .notification-container {
    width: 95%;
    top: 10px;
    right: 10px;
  }

  .notification-container.notification-bottom {
    bottom: 10px;
    right: 10px;
  }

}
